@model EstructurasDatos_Lab03.Clases.Farmacos

@{
    ViewData["Title"] = "AgregarFarmaco";
}

<h1>Agregar Fármaco</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarFarmaco">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" >
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control-plaintext alert-dark " />
                <input asp-for="Nombre" class="form-control-plaintext alert-dark " hidden/>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control-plaintext alert-dark " disabled />
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control-plaintext alert-dark" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Inventario" class="control-label">Cantidad a Comprar</label>
                <input asp-for="Inventario" class="form-control" />
                <span asp-validation-for="Inventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventario" class="control-label">Cantidad Diponible</label>
                <input asp-for="Inventario" class="form-control-plaintext alert-dark" disabled />
            </div>
            <div class="form-group">
                <label asp-for="CasaProductora" class="control-label"></label>
                <input asp-for="CasaProductora" class="form-control-plaintext alert-dark" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control-plaintext alert-dark" disabled />
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

