
@{ ViewData["Title"] = "Index"; }
<div class="text-center">
    <h1>Bienvenido</h1>
</div>

<a asp-action="CargarFarmacos" class="btn btn-outline-primary">Cargar Invetario</a>
<a asp-action="RealizarPedidos" class="btn btn-outline-primary">Realizar Pedidos</a>
<a asp-action="Paginacion" class="btn btn-outline-primary">Inventario</a>
<a asp-action="Reabastecer" class="btn btn-outline-primary">Reabastecer fármacos</a>